<% if (!index && theme.config.toc && post.toc) { %>
<!--  去掉collapse 默认展开 -->
<aside class="sidebar sidebar-toc" id="collapseToc" itemscope itemtype="http://schema.org/WPSideBar">
  <div class="slimContent">
    <nav id="toc" class="article-toc">
      <h3 class="toc-title"><%= __('article.catalogue') %></h3>
      <%- toc(post.content, {list_number: false}) %>
    </nav>
  </div>
</aside>
<% } %>